input {
	font-family: 'Mulish', sans-serif !important;
}

/* ------------------------------------------------- BUTTONS ------------------------------------------------- */
button {
	cursor: pointer;
}

.pledgx-form-btn,
.pledgx-form-btn:hover {
	letter-spacing: 0px;
	text-decoration: none !important;
	text-transform: uppercase;
	text-align: center;
	outline: none !important;
	/*display: inline-block;*/
	border: 3px solid var(--colors-orange);
	border-radius: 5px;
	background-color: var(--colors-orange);
	color: white;
	font-size: 1rem;
	transition: all .2s;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	height: 5rem;
	width: 15rem;
}
.pledgx-form-btn:hover {
	box-sizing: border-box;
	background-color: var(--colors-main-highlight-bg);
	border: 3px solid var(--colors-main-highlight-bg);
}

/* ------------------------------------------------- FORM ------------------------------------------------- */
/* pledgx-form */

.pledgx-form {
	height: 100%;
	width: 100%;
	color: var(--colors-main-text);
	display: flex;
	justify-content: space-between;
	padding: 2rem 10rem;
}

.pledgx-form > .form-top-container {
	flex: 1;
}

.pledgx-form > .form-top-container > .form-pfp-area {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 3rem 0;
}

.pledgx-form > .form-top-container > .form-fields-container > .form-fields-row > .form-element-container {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: .5rem;
	padding: 0 .5rem;
}
.pledgx-form > .form-top-container > .form-fields-container > .form-fields-row > .form-element-container > label {
	font-size: 1.2rem;
}
.pledgx-form > .form-top-container > .form-fields-container > .form-fields-row > .form-element-container > input,
.pledgx-form > .form-top-container > .form-fields-container > .form-fields-row > .form-element-container > input:focus {
	background-color: var(--colors-main-input-bg);
	border: 1px solid var(--colors-orange);
	outline: none;
	height: 4rem;
	width: 100%;
	font-size: 1.7rem;
	color: var(--colors-main-text);
	padding-left: 2rem;
	padding-right: 1rem;
	border-radius: 5px;
}
.pledgx-form > .form-top-container > .form-fields-container > .form-fields-row > .form-element-container > input::placeholder {
	font-size: 1.5rem;
	transform:translate3d(0,-.25rem,0);
	color: var(--colors-main-input-placeholder);
}

.pledgx-form > .form-top-container > .form-fields-container > .form-name-row {
	display: flex;
	align-items: center;
}
.pledgx-form > .form-top-container > .form-fields-container > .form-name-row > .form-element-container {
	width: 50%;
}

.pledgx-form > .form-top-container > .form-fields-container > .form-fields-row > .form-image-radio {
	padding: 1rem 2rem;
}

.pledgx-form > .form-top-container > .form-fields-container > .form-fields-row > .form-country-selector-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 14rem;
	background-color: var(--colors-main-input-bg);
	border: 1px solid var(--colors-subtle-highlight);
	border-radius: 10px;
	cursor: pointer;
}
.pledgx-form > .form-top-container > .form-fields-container > .form-fields-row > .form-country-selector-container.selected {
	background-color: rgba(var(--colors-orange-rgb), .3);
	border: 1px solid var(--colors-orange);
}

.pledgx-form > .form-top-container > .form-fields-container > .form-fields-row > .form-country-selector-container > .flag-image {
	width: 10rem;
}
.pledgx-form > .form-top-container > .form-fields-container > .form-fields-row > .form-country-selector-container > .flag-text {
	font-size: 1.7rem;
	color: var(--colors-subtle-text);
}

.pledgx-form > .form-top-container > .form-fields-container > .country-label-row {
	margin-left: .5rem;
	font-size: 1.2rem;
}

.pledgx-form > .form-top-container > .form-fields-container > .form-country-row {
	display: flex;
}
.pledgx-form > .form-top-container > .form-fields-container > .form-country-row > div:not(:last-child) {
	margin-left: .5rem;
	margin-right: 1rem;
}


/* ------------------------------------------------- Specific Elements ------------------------------------------------- */

/* ----------------------- Country Selector ----------------------- */
.country-selector {
	width: 100%;
	height: 100%;

	font-size: 1.5rem;
	text-decoration: none;
	border: none;
	outline: none;
	color:  var(--colors-main-text);
	background-color: var(--colors-primary-bg);

	border-radius: 10px;
	box-shadow: 0px 3px 6px #00000029;

	display: grid;
	grid-template-columns: auto 5fr 1fr;
	grid-template-rows: repeat(3, auto);
	grid-template-areas:
		'photo text panel'
		'photo text panel'
		'photo footer footer';

	justify-content: start;
	align-items: flex-start;

	padding: 2.5rem;
	grid-column-gap: 4rem;
	
	user-select: none;
}
.country-selector-animate {
	transition: all .2s;
}
.country-selector-animate:hover {
	transform: scale(1.01);
}

.country-selector > .flag {
	grid-area: photo;
	height: 100%;
	display: flex;
	align-items: center;
}
.country-selector > .flag > img {
	height: 21.75rem;
	width: 29rem;
	border-radius: 20px;
	object-fit: cover;
}

.country-selector > .text {
	grid-area: text;
	display: flex;
	flex-direction: column;
	min-width: 0;
}

/* ----------------------- Dropdown ----------------------- */
.pledgx-dropdown {
	height: 100%;
	width: 100%;
	position: relative;
}
.pledgx-dropdown > .dropdown-button {
	/* TODO: This implementation is buggy on <v14.0 Safari. Consider using flexbox instead */
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-areas:
		'icon text dropdown';

	justify-content: start;
	align-items: center;

	width: 100%;
	height: 100%;

	font-size: 1.5rem;
	text-decoration: none;
	border: none;
	outline: none;
	color:  var(--colors-main-text);
	background-color: var(--colors-primary-bg);

	box-shadow: 0px 3px 6px #00000029;
	padding: .7rem 2rem;
	overflow: hidden;
}
.pledgx-dropdown > .dropdown-button.closed {
	border-radius: 50px;
	transition: all .2s ease-in-out;
}
.pledgx-dropdown > .dropdown-button.open {
	border-radius: 20px 20px 0 0;
	transition: all .2s ease-in-out;
}

.pledgx-dropdown > .dropdown-button > .dropdown-button--1 {
	grid-area: icon;
	justify-self: start;
	display: inline-flex;
	vertical-align: middle;
}
.pledgx-dropdown > .dropdown-button > .dropdown-button--1 > i {
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--colors-main-highlight-bg)
}
.pledgx-dropdown > .dropdown-button > .dropdown-button--2 {
	grid-area: text;
	justify-self: start;
	font-size: 1.5rem;
	min-width: 0;
	max-width:100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 1rem;
}

.pledgx-dropdown > .dropdown-button > .dropdown-button--3 {
	grid-area: dropdown;
	justify-self: end;
	display: inline-flex;
	vertical-align: middle;
}
.pledgx-dropdown > .dropdown-button > .dropdown-button--3 > i {
	font-size: 2.5rem;
	font-weight: 700;
}

.pledgx-dropdown > .dropdown-content {
	position: absolute;
	/*min-width: 10rem;*/
	min-height: 5rem;
	padding: 1rem;
	margin: 0 auto;
	cursor: pointer;
	background-color: var(--colors-primary-bg);

	width: 100%;

	border-radius: 0 0 20px 20px;
	outline: none;

	/* Font settings */
	font-weight: bold;

	list-style: none;

	/*box-shadow: 0px .5rem 1rem 0px rgba(0,0,0,0.2);*/
	box-shadow: 0px 3px 6px #00000029;
	z-index: 999;
	animation: fadein .5s;
}

.pledgx-dropdown > .dropdown-content > .dropdown-item {
	padding: .5rem 2rem .5rem 1rem;
	font-size: 1.5rem;
	font-weight: 400;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-areas:
		'icon text';

	justify-content: start;
	align-items: center;
	overflow: hidden;
}
.pledgx-dropdown > .dropdown-content > .dropdown-item:hover {
	border-radius: 5px;
	color: white;
	background-color: var(--colors-main-highlight);
}

.pledgx-dropdown > .dropdown-content > .dropdown-item > .dropdown-item--checkbox {
	grid-area: icon;
	display: inline-flex;
	vertical-align: middle;
	margin-right: 1rem;
}
.pledgx-dropdown > .dropdown-content > .dropdown-item > .dropdown-item--icon {
	grid-area: icon;
	display: inline-flex;
	vertical-align: middle;
	margin-right: 1rem;
}

.pledgx-dropdown > .dropdown-content > .dropdown-item > .dropdown-item--text {
	grid-area: text;
}

/* ------------------------------------------ MEDIA QUERIES ------------------------------------------ */

@media only screen and (max-width: 720px) {
	/* pledgx-form */
	.pledgx-form {
		display: flex;
		flex-direction: column;
	}
	
	.pledgx-form > .form-top-container {
		margin-bottom: 3rem;
	}
	.pledgx-form > .form-bottom-container {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}